
#heading {
    padding: 5px; 
}

h1 {
    color: navy;
    text-align: center; 
}

body {
    background-color:aliceblue;
}

/* navigation styling: */
.navigation {
    display:flex;
    justify-content: space-around;
    border: navy 3px outset; 
    background-color: navy; 
    padding: 5px; 
}

.navitem {
    color: lightblue;
    border: navy outset; 
    padding: 0px 10px 0px 10px; 
    font-style: normal;
    background-color: navy; 
}


/* content styling: */
h2 {
    color: navy;
    margin: 25px 10px 5px 10px; 
}

.animal {
    display: flex;
    justify-content: left; 
    background-color: rgba(173, 216, 230, 0.5); 
    margin: 5px 25px; 
}

img {
    height: 250px; 
    margin: 10px;
}

ul {
    list-style-type: none;
    color: navy; 
}

button {
    background-color: navy;
    border: outset 3px navy;
    color: lightblue;
    margin-left: 25px; 
}

a {
    color: lightblue;
    text-decoration: none; 
}

p {
    margin: 25px;
    font-style: italic; 
}